{{#each error}}
<div class="alert alert-danger text-center">{{message}}</div>
{{else}}

{{/each}}
{{#if message}}
<div class="alert alert-success">{{message}}</div>
{{/if}}
    {{bal.auxpdf}}
     {{#if bal.auxpdf }}
   <div class="container w-100 bg-light mb-4 bg-transparent" hidden="hidden">
     {{else}}
   <div class="container w-100 bg-light mb-4 bg-transparent">
     {{/if}}
      <form action="/report/month" method="POST"  >
        <div class="row d-flex justify-content-between">
        <input class="form-control mb-3 w-50 " name="month" type="month" value="{{utc}}">
        <button class="btn btn-primary w-25"><img id="icon" src="/img/search.svg"></button>
        <a href="/pdf" class="btn btn-danger "><img id="icon" src="/img/pdf.svg"></a>
        <a href="/excel/{{auxmonth}}" class="btn btn-success"><img id="icon" src="/img/excel.svg"></a>
        </div>
      </form>
       <div class="row mt-3">
       <label class="form-control w-100 text-center">Dados referente ao Período: {{month}}</label>
       
      </div>
    </div>

<table class="container table table-striped table-dark text-center ">
  {{#if bal}}
  <thead>
    <tr>
      <th>Data</th>
      <th>Usúario</th>
      <th>Periodo</th>
      <th colspan="11">Balanças</th>
    </tr>
  </thead>
  {{else}}
  {{/if}}

  <tbody>
    {{#each bal}}
    <tr>
      <td scope="col">
        <input id="inpdate" class="text-center" type="date" disabled value="{{date}}">
      </td>
      <td scope="col">{{user}}</td>
      <td scope="col">{{period}}</td>
      <td scope="col" {{#if bal10 }}style="background:green" {{else}}{{/if}}>Bal10</td>
      <td scope="col" {{#if bal11 }}style="background:green" {{else}}{{/if}}>Bal11</td>
      <td scope="col" {{#if bal12 }}style="background:green" {{else}}{{/if}}>Bal12</td>
      <td scope="col" {{#if bal13 }}style="background:green" {{else}}{{/if}}>Bal13</td>
      <td scope="col" {{#if bal14 }}style="background:green" {{else}}{{/if}}>Bal14</td>
      <td scope="col" {{#if bal15 }}style="background:green" {{else}}{{/if}}>Bal15</td>
      <td scope="col" {{#if bal16 }}style="background:green" {{else}}{{/if}}>Bal16</td>
      <td scope="col" {{#if bal17 }}style="background:green" {{else}}{{/if}}>Bal17</td>
      <td scope="col" {{#if bal18 }}style="background:green" {{else}}{{/if}}>Bal18</td>
      <td scope="col" {{#if bal19 }}style="background:green" {{else}}{{/if}}>Bal19</td>
      <td scope="col" {{#if bal20 }}style="background:green" {{else}}{{/if}}>Bal20</td>
      {{bal.auxpdf}}
      {{#if bal.auxpdf }}
      <td hidden="hidden"><a href="/bal/edit/{{id}}" class="btn btn-warning">Editar</a></>
      <td hidden="hidden"><a href="/bal/delete/{{id}}" class="btn btn-danger">Excluir</a></td>
      {{else}}
      <td><a href="/bal/edit/{{id}}" class="btn btn-warning">Editar</a></td>
      <td><a href="/bal/delete/{{id}}" class="btn btn-danger">Excluir</a></td>
      {{/if}}
    </tr>
    
  </tbody>
    {{else}}
    <div class="btn btn-info btn-block">Nenhum Dado Encontrado</div>
    {{/each}}

</table>
<style>
#inpdate{
  
  color:white;
  background: transparent;
  border: transparent;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.table {
  
 
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-dark {
  color: #fff;
  background-color: #343a40;
}

.text-center {
  text-align: center !important;
}


.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>
